body {
  max-width: 1280px;
  margin: 0;
}
.nav-bar {
  padding-left: 330px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.nav-bar-li {
  display: inline;
  list-style: none;
  margin-right: 70px;
}

li:last-child {
  margin-right: 0;
}

li.nav-bar-li a {
  text-decoration: none;
  color: #ff0000;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.h2-content {
  margin-left: 290px;
  margin-top: 48px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}

.main-content {
  margin-left: 67.5px;
  margin-top: 38px;
  width: 1145px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.botton {
  margin-left: 544.5px;
  margin-top: 66px;
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  background: #ff0000;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  color: #fff;
}

.footer {
  margin-left: 713px;
  margin-top: 82px;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}
